$header_color: #000000;
$main_color : rgb(11, 83, 149);
//$main_color : rgb(0, 174, 255);
$font_color : #000000;
$menu_color : #ffffff;
$my_min_width : 420px;

* {
    margin: 0;
    padding: 0;
    list-style: none; //리스트 테이블마냥 만들어줌
}

html {
    font-size: 1vw;
}

a {
    text-decoration: none;
    color: inherit;
}

/*******************************______fullpage______***************************************/
.section {
    max-width: 1260px;
    margin: auto;
}

#fp-nav.fp-right {
    right: 1rem;
}

#swiper_option {
    position: relative;
    bottom: 30px;
    margin: 0 20px 0px 20px;
    display: flex;
    justify-content: center;

    .swiper-pagination {
        bottom: -27px;
    }
}

/******************************______menu______*********************************************/
#menu {
    #expand_header {
        position: fixed;
        z-index: 1000;
        top: 4px;
        right: 0px;
        margin-right: 5px;
        cursor: pointer;
        z-index: 800;

        span {
            position: relative;
            display: block;
            top: 2px;
            height: 8px;
            background-color: black;
            margin: 5px;
            transition: transform .2s ease
        }

        #span1 {
            width: 25px;
        }

        #span2 {
            width: 50px;
        }

        #span3 {
            bottom: 20px;
            left: 25px;
            width: 25px;
        }
    }

    #expand_header.on {
        #span1 {
            top: 5px;
            left: 3px;
            width: 25px;
            transform: translateX(0px) rotate(45deg);
        }

        #span2 {
            transform: rotate(-45deg) translate(0%, 0%);
        }

        #span3 {
            left: 23px;
            top: -1px;
            width: 25px;
            transform: translateX(0px) rotate(45deg);
        }

        @media (max-width: $my_min_width) {
            display: none;
        }
    }

    header {
        height: 0px;
        width: 100vw;
        position: fixed;
        z-index: 95;
        overflow: hidden;
        transition: 0.25s ease;
        border-bottom: 2px solid $main_color;
        z-index: 700;

        #gnb {
            position: relative;
            z-index: 70; //after에 닿아도 on되도록 해줌
            text-align: center;
            margin-left: 8rem;

            @media (max-width: $my_min_width) {
                text-align: left;
            }

            ul {

                #gnb_list {
                    position: relative;
                    display: inline-table;
                    margin-right: 5rem;
                    font-size: 7rem;
                    top: 0px;

                    @media (max-width: $my_min_width) {
                        text-align: center;
                        margin-right: 0rem;
                    }

                    #gnb_content {
                        li {
                            margin-bottom: 2rem;
                            font-size: 4rem;
                            width: 33rem;

                            @media (max-width: $my_min_width) {
                                font-size: 5rem;
                                width: 40rem;
                            }
                        }
                    }
                }
            }


        }
    }

    #gnb_list>a::after {
        content: "";
        display: block;
        position: absolute;
        background-color: $main_color;
        width: 500%;
        left: -200%;
        height: 2px;
    }

    #gnb_list>a::before {
        content: "";
        display: block;
        position: absolute;
        background-color: $main_color;
        width: 500%;
        left: -200%;
        height: 2px;
    }
}