.contaner {
    height: 100vh; //최대높이
}

header {
    width: 100%;
    height: 80px;
    display: block;
    position: absolute;
    text-align: center;
    z-index: 10000;
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    font-weight: 500;

    #gnb {
        width: 100%;
        height: 75px;
        text-align: center;
        overflow: hidden; //보여주되 그이상 넘치면 안보여줌
        //background-color: #ffaaff;

        .gnb_list {
            display: inline-block;

            >li {
                //gnb_list의 바로 밑에 있는 li이다 하나라도 div가 있으면 적용 안됨
                float: left; //아래로 나열을 왼쪽 나열로 변경

                .gnb_depth_01 {
                    height: 75px;
                    line-height: 50px; //줄간격
                    font-size: 30px;
                    display: block;
                    padding: 12px 70px; //top,botton/ left, right
                    //font-weight: 900;//굵기
                }

                .gnb_depth_02 {
                    li {
                        a {
                            display: block;
                            padding: 10px 0;
                        }
                    }
                }
            }
        }
    }

    #gnb_menu {
        top: 30px;
        right: 60px; //우측기준선에서 얼마나 좌측으로 이동시킬 것인지
        position: absolute;
        z-index: 3;

        #gnb_menu_btn {
            padding: 10px; //클릭 중앙에도 되게끔

            span {
                width: 30px;
                height: 2px;
                position: absolute;
                display: block;
                background-color: black;
            }
        }

        span:nth-child(1) {
            top: 0px;
        }

        span:nth-child(2) {
            top: 10px;
        }

        span:nth-child(3) {
            top: 20px;
        }
    }
}


#main_visual {
    position: relative;

    #main_visual_img {
        overflow: hidden;

        .main_img {
            height: 100vh;
            width: 100vw;
            background-size: cover;
            background-position: 50% 50%;
        }

        #main_img_1 .main_img {
            background-image: url("../img/spiderman/newyork_spiderman2.jpg");
        }

        #main_img_2 .main_img {
            background-image: url("../img/yakuza/Kiwami_2_kamurocho.jpg");
        }

        #main_img_3 .main_img {
            background-image: url("../img/assassin_origin/assassin_origin4.jpg");
        }
    }

    #slogan {
        position: absolute;
        width: 100%;
        top: 40%; //absolute 때문에 이게있어야 올라옴
        z-index: 100;

        #slogan_main {}

        #slogan_sub {}
    }
}

#main_info {
    background-color: #ffdd22;

    .card {
        width: auto;
        height: auto;
        max-width: 30vh;
        max-height: 60vh;
    }

    .card_img {
        li {
            position: relative;
            float: left;
        }
    }

    #slogan {
        position: absolute;
        float: left;
    }
}

#main_info2 {
    background-color: #ffaa22;
}

footer {
    height: 25vh;
}