#header {
  width: 100%;
  height: 80px;
  position: fixed;
  text-align: center;
  z-index: 10000;
  color: #fff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-weight: 500;
  transition: 0.25s ease;
}

#header #gnb {
  position: relative;
  height: 75px;
  text-align: center;
  overflow: hidden;
  transition: 0.25s ease;
}

#header #gnb .gnb_list {
  display: inline-block;
}

#header #gnb .gnb_list #go_main {
  position: fixed;
  font-size: 30px;
  margin: 15px;
  left: 70px;
}

#header #gnb .gnb_list > li {
  float: left;
}

#header #gnb .gnb_list > li .gnb_depth_01 {
  height: 75px;
  line-height: 50px;
  font-size: 30px;
  display: block;
  padding: 12px 70px;
}

#header #gnb .gnb_list > li .gnb_depth_02 li a {
  display: block;
  padding: 10px 0;
}

#header #gnb_menu {
  top: 30px;
  right: 60px;
  position: absolute;
  z-index: 3;
}

#header #gnb_menu #gnb_menu_btn {
  padding: 10px;
}

#header #gnb_menu #gnb_menu_btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  display: block;
  background-color: black;
}

#header #gnb_menu span:nth-child(1) {
  top: 0px;
}

#header #gnb_menu span:nth-child(2) {
  top: 10px;
}

#header #gnb_menu span:nth-child(3) {
  top: 20px;
}

#header.on {
  background-color: white;
  color: #333;
}

#header.on #gnb {
  height: 320px;
  background-color: white;
}

#main_visual {
  position: relative;
  height: 100%;
  width: 100vw;
}

#main_visual #main_visual_img {
  overflow: hidden;
  height: 100%;
  width: 100vw;
}

#main_visual #main_visual_img #main_visual_ul,
#main_visual #main_visual_img #main_img_1 {
  height: 100%;
  width: 100%;
}

#main_visual #main_visual_img .main_img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 100;
}

#main_visual #main_visual_img #main_img_1 .main_img {
  background-image: url("../img/spiderman/newyork_spiderman2.jpg");
}

#main_visual #main_visual_img #main_img_2 .main_img {
  background-image: url("../img/yakuza/Kiwami_2_kamurocho.jpg");
}

#main_visual #main_visual_img #main_img_3 .main_img {
  background-image: url("../img/assassin_origin/assassin_origin4.jpg");
}

#main_visual #slogan {
  position: absolute;
  width: 100%;
  top: 40%;
  z-index: 100;
}

#main_info .card {
  width: 100vh;
  height: 100vh;
}

#main_info .card_img #card01,
#main_info .card_img #card03 {
  width: 50vh;
  height: 80vh;
  overflow: hidden;
  position: relative;
  float: left;
  left: 7%;
  top: 40px;
  margin: 50px;
}

#main_info .card_img #card02 {
  width: 50vh;
  height: 80vh;
  overflow: hidden;
  position: relative;
  float: left;
  left: 7%;
  top: 50px;
}

#main_info #slogan {
  position: relative;
  float: left;
  left: 35.3%;
  top: -30px;
  z-index: 100;
  text-align: center;
}

#main_info2 {
  width: 100%;
  height: 100%;
}

#main_info2 #slogan {
  position: absolute;
  left: 40%;
  top: 5%;
  z-index: 100;
  text-align: center;
}

#main_info2 #ex_img {
  width: 80vw;
  height: 80vh;
  position: absolute;
  left: 13%;
}

#main_info2 #ex_img #img1 {
  position: relative;
  width: 400px;
  height: 400px;
  float: left;
  margin: 10px;
  top: 110px;
}

#main_info2 #ex_img #img2 {
  position: relative;
  width: 400px;
  height: 400px;
  float: left;
  margin: 10px;
  top: 110px;
  margin-left: 100px;
}

#main_info3 #slogan {
  position: absolute;
  left: 20%;
  top: 30%;
}

#main_info3 #slogan_sub {
  margin: 10px;
  font-size: 100px;
}

#main_info3 #pin_img {
  position: relative;
  left: 650px;
  width: 500px;
  height: 300px;
}

footer {
  height: 25vh;
}

#sub_header {
  width: 100%;
  height: 80px;
  position: fixed;
  text-align: center;
  z-index: 10000;
  color: #fff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-weight: 500;
  transition: 0.25s ease;
  background-color: #8f6161;
}

#sub_header #gnb {
  position: relative;
  height: 75px;
  text-align: center;
  overflow: hidden;
  transition: 0.25s ease;
}

#sub_header #gnb .gnb_list {
  display: inline-block;
}

#sub_header #gnb .gnb_list #go_main {
  position: fixed;
  font-size: 30px;
  margin: 15px;
  left: 70px;
}

#sub_header #gnb .gnb_list > li {
  float: left;
}

#sub_header #gnb .gnb_list > li .gnb_depth_01 {
  height: 75px;
  line-height: 50px;
  font-size: 30px;
  display: block;
  padding: 12px 70px;
}

#sub_header #gnb .gnb_list > li .gnb_depth_02 li a {
  display: block;
  padding: 10px 0;
}

#sub_header #gnb_menu {
  top: 30px;
  right: 60px;
  position: absolute;
  z-index: 3;
}

#sub_header #gnb_menu #gnb_menu_btn {
  padding: 10px;
}

#sub_header #gnb_menu #gnb_menu_btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  display: block;
  background-color: black;
}

#sub_header #gnb_menu span:nth-child(1) {
  top: 0px;
}

#sub_header #gnb_menu span:nth-child(2) {
  top: 10px;
}

#sub_header #gnb_menu span:nth-child(3) {
  top: 20px;
}

#sub_header.on {
  background-color: #8f6161;
}

#sub_header.on #gnb {
  height: 320px;
  background-color: #8f6161;
}

#sub_info {
  background-color: #ffaa22;
  width: 100%;
  height: 100%;
}

#sub_info #slogan {
  position: absolute;
  left: 40%;
  top: 90px;
  z-index: 100;
  text-align: center;
}

#sub_info #ex_img {
  width: 80vw;
  height: 80vh;
  position: absolute;
  left: 13%;
  top: 6%;
}

#sub_info #ex_img #img1 {
  position: relative;
  width: 400px;
  height: 400px;
  float: left;
  margin: 10px;
  top: 110px;
}

#sub_info #ex_img #img2 {
  position: relative;
  width: 400px;
  height: 400px;
  float: left;
  margin: 10px;
  top: 110px;
  margin-left: 100px;
}
/*# sourceMappingURL=layout.css.map */