$header_color: #000000;
$main_color : rgb(11, 83, 149);
//$main_color : rgb(0, 174, 255);
$font_color : #000000;
$menu_color : #ffffff;
$my_min_width : 420px;

/******************************______main_type_D_____*********************************************/

.main_up_D {
    background-color: rgb(161, 214, 82);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 33%;

    @media (max-width: $my_min_width) {
        .img {
            margin: auto;
        }

        width: 100%;
        height: 40%;
    }

    #text {
        margin-left: 3rem;
    }

}

.main_down_D {
    background-color: rgb(101, 151, 25);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 33%;

    @media (max-width: $my_min_width) {
        .img {
            margin: auto;
        }

        width: 100%;
        height: 40%;
    }

    #text {
        margin-left: 3rem;
    }

}