$header_color: #000000;
$main_color : rgb(11, 83, 149);
//$main_color : rgb(0, 174, 255);
$font_color : #000000;
$menu_color : #ffffff;
$my_min_width : 420px;

#menu {
    header {
        background-color: $menu_color;

        #gnb_list {
            color: $header_color;
            font-family: "고딕";
            font-weight: 600;
        }
    }

    header::after {
        background-color: $main_color;
    }
}

#fullpage {
    #page1 {
        .main_left {
            @media (max-width: $my_min_width) {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }

            #text {
                color: $font_color;
                font-weight: 700;
                font-size: 5rem;

                @media (max-width: $my_min_width) {
                    font-size: 10rem;
                }
            }
        }

        .main_right {
            .img {
                width: 58rem;
                height: auto;
            }
        }
    }

    #page2 {
        .main_left {
            #text {
                width: 100%;
                color: $font_color;
                font-weight: 700;
                font-size: 4.5rem;

                @media (max-width: $my_min_width) {
                    font-size: 5rem;
                }

                li {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 1rem;

                    #content {
                        width: 100%;
                    }
                }
            }
        }

        .main_right {
            .img {
                width: 80rem;
                height: auto;
                position: relative;

                div {
                    position: absolute;
                    width: 43rem;
                    top: 50%;
                    left: 50%;
                    transform: rotate(-5deg);
                    transform: translate(-50%, -50%); //rotate위에 있으면 에러뜸
                    font-size: 7rem;
                    font-family: "Nanum Pen Script", cursive;

                    @media (max-width: $my_min_width) {
                        width: 56rem;
                        font-size: 8rem;
                    }
                }
            }
        }
    }

    #page3 {
        .main_type_B {
            #text {
                #text_h {
                    text-align: center;
                }

                #line {
                    position: relative;
                    display: block;
                    height: 2px;
                    width: 85rem;
                    background-color: $main_color;
                }
            }
        }

        .main_left_B {
            @media (max-width: $my_min_width) {
                align-items: center;
                justify-content: center;
            }

            #img {
                position: relative;
                top: 4rem;
                right: 6rem;
                width: 30rem;
                height: auto;
                border: 1px solid black;

                @media (max-width: $my_min_width) {
                    right: 0rem;
                    top: 0rem;
                    width: 40rem;
                }
            }
        }

        .main_right_B {
            #text {
                position: relative;
                top: 3rem;
                margin: 3rem;

                li {
                    margin-top: 2rem;
                }
            }
        }
    }

    #page4 {
        .main_middle_C {
            justify-content: space-around;

            #text {
                margin: 0rem 2rem;
            }

            #line {
                position: absolute;
                display: block;
                left: 50%;
                transform: translate(-50%, 0);
                height: 60rem;
                width: 3px;
                background-color: $main_color;

                @media (max-width: $my_min_width) {
                    display: none;
                }
            }

            @media (max-width: $my_min_width) {
                justify-content: left;
                height: 85%;
            }
        }

        .main_bottom {
            @media (max-width: $my_min_width) {
                height: 5%;
            }
        }
    }

    #page5 {
        .main_middle_C {
            #line {
                width: 130rem;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;

                #circle {
                    background-color: #ffffff;
                    width: 23rem;
                    height: 23rem;
                    border-radius: 50%;
                    text-align: center;
                    //margin-bottom: 3rem;
                    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgb(88, 88, 88);
                    overflow: hidden;

                    #html_css {
                        position: relative;
                        top: 25%;
                        width: 100%;
                        height: 50%;
                    }
                }

                @media (max-width: $my_min_width) {
                    #circle {
                        width: 24rem;
                        height: 24rem;
                    }

                    #circle:nth-last-child(1) {
                        display: none;
                    }
                }
            }
        }

        .main_bottom_C {
            #line {
                display: block;
                height: 3px;
                width: 140rem;
                background-color: $main_color;

                //left: 50%;
                //transform: translate(-50%, 0%);
                @media (max-width: $my_min_width) {
                    width: 85rem;
                }
            }

            #sub_info {
                color: $main_color;
                width: 110rem;
                text-align: center;
                font-weight: 600;
                font-size: 3rem;

                //left: 50%;
                //transform: translate(-50%, 0%);
                @media (max-width: $my_min_width) {
                    width: 90rem;
                }
            }
        }
    }

    #page6 {
        #page6_1 {
            .slide_sign {
                position: absolute;
                color: #ff3939;
                font-weight: 700;
                font-size: 10rem;
                right: 3rem;

                @media (max-width: $my_min_width) {
                    top: 12rem;
                }
            }

            .main_left {
                justify-content: center;

                #img {
                    width: 90%;
                    height: auto;
                    border: 1px solid $main_color;
                }

                #line {
                    position: absolute;
                    display: block;
                    height: 60rem;
                    width: 3px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    background-color: $main_color;

                    @media (max-width: $my_min_width) {
                        display: none;
                    }
                }
            }

            .main_right {
                #text {
                    position: relative;
                    margin: 0rem 3rem;
                    width: 95%;

                    >li {
                        display: flex;
                        margin-bottom: 2rem;
                    }

                    ul {
                        width: 100%;
                    }

                    #text_h {
                        width: 21rem;
                    }

                    #text_b {
                        width: 100%;
                    }

                    #ul {
                        li::before {
                            color: $main_color;
                            content: "\2022"; //원모양 CSS Code/unicode
                            font-weight: bold;
                            display: inline-block;
                            width: 0.8em;
                        }
                    }

                    @media (max-width: $my_min_width) {
                        #text_h {
                            width: 25rem;
                        }
                    }
                }
            }
        }

        /*
        #page6_2 {
            .main_left {
                ul {
                    position: relative;
                    left: 2rem;

                    #text_h {
                        width: 20rem;
                    }

                    #text_b {
                        width: 90%;
                    }

                    div {
                        display: flex;
                    }

                    div::before {
                        color: $main_color;
                        content: "\2022"; //원모양 CSS Code/unicode
                        font-weight: bold;
                        display: flex;
                        width: 0.8em;
                    }
                }
            }

            .main_right {
                justify-content: center;

                #text_h {
                    width: 80%;
                    margin-bottom: 1rem;
                }

                #img {
                    width: 80%;
                    height: auto;

                    img {
                        border: 1px solid $main_color;
                    }
                }
            }
        }
        */

        #page6_3 {
            .main_left {
                justify-content: center;

                #img {
                    width: 90%;
                    height: auto;
                    border: 1px solid $main_color;
                }
            }

            .main_right {}
        }

        #page6_4 {
            .main_left {
                justify-content: center;

                #img {
                    width: 90%;
                    height: auto;
                    border: 1px solid $main_color;
                }
            }

            .main_right {}
        }

        #page6_5 {
            .main_left {
                justify-content: center;

                #img {
                    width: 40%;
                    height: auto;
                    border: 1px solid $main_color;
                }
            }

            .main_right {}
        }

        #page6_6 {
            .main_up_D {
                #img {
                    width: 35%;
                    height: auto;
                    border: 1px solid $main_color;

                    @media (max-width: $my_min_width) {
                        width: 90%;
                    }
                }
            }

            .main_down_D {
                justify-content: left;

                #text {
                    margin: 0 3rem;
                }
            }
        }
    }

    #page7 {
        #page7_1 {
            .main_left {
                justify-content: center;

                #img {
                    width: 90%;
                    height: auto;
                    border: 1px solid $main_color;
                }

                #line {
                    position: absolute;
                    display: block;
                    height: 60rem;
                    width: 3px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    background-color: $main_color;

                    @media (max-width: $my_min_width) {
                        display: none;
                    }
                }
            }

            .main_right {
                #text {
                    position: relative;
                    margin: 0rem 3rem;
                    width: 95%;

                    >li {
                        display: flex;
                        margin-bottom: 2rem;
                    }

                    ul {
                        width: 100%;
                    }

                    #text_h {
                        width: 21rem;
                    }

                    #text_b {
                        width: 100%;
                    }

                    #ul {
                        li::before {
                            color: $main_color;
                            content: "\2022"; //원모양 CSS Code/unicode
                            font-weight: bold;
                            display: inline-block;
                            width: 0.8em;
                        }
                    }

                    @media (max-width: $my_min_width) {
                        #text_h {
                            width: 25rem;
                        }
                    }
                }
            }
        }

        #page7_2 {
            .main_left {
                justify-content: center;

                #img {
                    width: 90%;
                    height: auto;
                    border: 1px solid $main_color;
                }
            }

            .main_right {}
        }

        #page7_3 {
            .main_left {
                justify-content: center;

                #img {
                    width: 90%;
                    height: auto;
                    border: 1px solid $main_color;
                }
            }

            .main_right {}
        }

        #page7_4 {
            .main_left {
                justify-content: center;

                #img {
                    width: 50%;
                    height: auto;
                    border: 1px solid $main_color;
                }
            }

            .main_right {}
        }

        #page7_5 {
            .main_up_D {
                #img {
                    width: 35%;
                    height: auto;
                    border: 1px solid $main_color;

                    @media (max-width: $my_min_width) {
                        width: 90%;
                    }
                }
            }

            .main_down_D {
                justify-content: left;

                #text {
                    margin: 0 3rem;
                }
            }
        }
    }

    #page8 {
        #page8_1 {
            .main_left {
                justify-content: center;

                #img {
                    width: 90%;
                    height: auto;
                    border: 1px solid $main_color;
                }

                #line {
                    position: absolute;
                    display: block;
                    height: 60rem;
                    width: 3px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    background-color: $main_color;

                    @media (max-width: $my_min_width) {
                        display: none;
                    }
                }
            }

            .main_right {
                #text {
                    position: relative;
                    margin: 0rem 3rem;
                    width: 95%;

                    >li {
                        display: flex;
                        margin-bottom: 2rem;
                    }

                    ul {
                        width: 100%;
                    }

                    #text_h {
                        width: 21rem;
                    }

                    #text_b {
                        width: 100%;
                    }

                    #ul {
                        li::before {
                            color: $main_color;
                            content: "\2022"; //원모양 CSS Code/unicode
                            font-weight: bold;
                            display: inline-block;
                            width: 0.8em;
                        }
                    }

                    @media (max-width: $my_min_width) {
                        #text_h {
                            width: 25rem;
                        }
                    }
                }
            }
        }

        #page8_2 {
            .main_left {
                justify-content: center;

                #img {
                    width: 90%;
                    height: auto;
                    border: 1px solid $main_color;
                }
            }

            .main_right {}
        }

        #page8_3 {
            .main_left {
                justify-content: center;

                #img {
                    width: 90%;
                    height: auto;
                    border: 1px solid $main_color;
                }
            }

            .main_right {}
        }

        #page8_4 {
            .main_left {
                justify-content: center;

                #img {
                    width: 70%;
                    height: auto;
                    border: 1px solid $main_color;
                }
            }

            .main_right {}
        }

        #page8_5 {
            .main_up_D {
                #img {
                    width: 35%;
                    height: auto;
                    border: 1px solid $main_color;

                    @media (max-width: $my_min_width) {
                        width: 90%;
                    }
                }
            }

            .main_down_D {
                justify-content: left;

                #text {
                    margin: 0 3rem;
                }
            }
        }
    }

    #go_up {
        align-items: flex-end;
        img {
            position: absolute;
            top: 3rem;
            height: 10rem;
            width: 12rem;
            margin-bottom: 1rem;
        }

        #text {
            position: relative;
            text-align: center;
            width: 12rem;
            bottom: 1rem;
            font-size: 3rem;
        }
    }

    #footer {
        #text {
            font-size: 2rem;
            margin: 1rem;
        }
    }
}

//풀페이지,오버로드
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: $main_color;
}