$header_color: #000000;
$main_color : rgb(11, 83, 149);
//$main_color : rgb(0, 174, 255);
$font_color : #000000;
$menu_color : #ffffff;
html{
    font-size: 10px;
}
img {
    width: 100%;
    height: 100%;
}

#menu {
    header {
        background-color: $menu_color;

        #gnb_list {
            color: $header_color;
            font-family: "고딕";
            font-weight: 600;
        }
    }

    header::after {
        background-color: $main_color;
    }
}

#fullpage {
    #page1 {
        #title {
            position: absolute;
            color: $main_color;
            font-weight: 700;
            font-size: 8vh;
            top: 0px;
        }

        #main_view {
            #text {
                position: absolute;
                color: $font_color;
                font-weight: 700;
                font-size: 40px;
                top: 250px;
            }

            #img {
                position: absolute;
                width: 50vh;
                height: 50vh;
                left: 600px;
                bottom: 30px;
                background-image: url(../img/p1/Responsiveweb01.png);
            }
        }
    }

    #page2 {
        #title {
            position: absolute;
            color: $main_color;
            font-weight: 700;
            font-size: 80px;
            top: 0px;
        }

        #main_view {
            #text {
                position: absolute;
                position: absolute;
                color: $font_color;
                font-weight: 700;
                font-size: 30px;
                top: 150px;
                left: 50px;

                li {
                    margin-top: 15px;
                }
            }

            #img {
                position: absolute;
                width: 503px;
                height: 350px;
                left: 600px;
                bottom: 100px;

                div {
                    position: absolute;
                    top: 25%;
                    left: 15%;
                    //transform: translate(-50%, -50%);
                    //transform-origin: 100% 100%;
                    transform: rotate(-5deg);
                    width: 365px;
                    font-size: 60px;
                    font-family: 'Nanum Pen Script', cursive;
                }
            }
        }
    }

    #page3 {
        #title {
            position: absolute;
            color: $main_color;
            font-weight: 700;
            font-size: 50px;
            top: 0px;
        }

        #main_view {
            #text1 {
                #text_h {
                    position: absolute;
                    color: $main_color;
                    font-weight: 700;
                    font-size: 30px;
                    top: 100px;
                    left: 550px;
                }

                #line {
                    position: absolute;
                    display: block;
                    height: 2px;
                    width: 60vw;
                    left: 50%;
                    top: 150px;
                    transform: translate(-55%, 0%);
                    background-color: $main_color;
                }
            }

            #img {
                position: absolute;
                width: 225px;
                height: 300px;
                left: 250px;
                bottom: 100px;
                border: 1px solid black;
            }

            #text2 {
                position: absolute;
                color: $font_color;
                font-weight: 700;
                font-size: 25px;
                top: 170px;
                left: 550px;

                li {
                    margin-top: 10px;
                }

                #text_h {
                    margin-right: 10px;
                    color: $main_color;
                }

                #text_b {}
            }
        }
    }

    #page4 {
        #title {
            position: absolute;
            color: $main_color;
            font-weight: 700;
            font-size: 50px;
            top: 0px;
        }

        #main_view {
            #text_ul01 {
                position: absolute;
                right: 60%;
                top: 140px;
            }

            #line {
                position: absolute;
                display: block;
                height: 400px;
                width: 3px;
                left: 49%;
                top: 150px;
                transform: translate(0%, -5%);
                background-color: $main_color;
            }

            #text_ul02 {
                position: absolute;
                left: 60%;
                top: 55%;
                transform: translate(0%, -50%);
            }

            #text_h {
                color: $main_color;
                font-weight: 700;
                font-size: 27px;
            }

            #text_b {
                color: $font_color;
                font-weight: 700;
                font-size: 17px;
                margin-bottom: 20px;
                color: $font_color;
            }
        }
    }

    #page5 {
        #title {
            position: absolute;
            color: $main_color;
            font-weight: 700;
            font-size: 50px;
            top: 0px;
        }

        #main_view {
            #line01 {
                position: relative;
                left: 100px;
                padding-top: 60px;

                #circle {
                    display: inline-block;
                    background-color: #ffffff;
                    width: 160px;
                    height: 160px;
                    border-radius: 50%;
                    line-height: 150px;
                    //border: 2px solid black;
                    text-align: center;
                    margin-right: 40px;
                    box-shadow: 2px 2px 2px 2px gray;
                    overflow: hidden;

                    #html_css {
                        position: relative;
                        top: 25%;
                        width: 100%;
                        height: 50%;
                    }
                }
            }

            #line02 {
                position: relative;
                left: 100px;
                margin-top: 30px;

                #circle {
                    display: inline-block;
                    background-color: #ffffff;
                    width: 160px;
                    height: 160px;
                    border-radius: 50%;
                    line-height: 150px;
                    //border: 2px solid black;
                    text-align: center;
                    margin-right: 40px;
                    box-shadow: 2px 2px 2px 2px gray;
                    overflow: hidden;
                }
            }

            #line {
                position: absolute;
                display: block;
                height: 3px;
                width: 90vw;
                left: 50%;
                bottom: 80px;
                transform: translate(-50%, 0%);
                background-color: $main_color;
            }

            #sub_info {
                position: absolute;
                color: $main_color;
                width: 700px;
                text-align: center;
                font-weight: 600;
                font-size: 20px;
                bottom: 40px;
                left: 50%;
                transform: translate(-50%, 0%);
            }
        }
    }

    #page6 {
        #page6_1 {
            #title {
                position: absolute;
                color: $main_color;
                font-weight: 700;
                font-size: 50px;
                top: 0px;
            }

            .slide_sign {
                position: absolute;
                color: #ff3939;
                font-weight: 700;
                font-size: 35px;
                right: 120px;
            }

            #main_view {
                #img {
                    position: absolute;
                    width: 350px;
                    height: auto;
                    left: 80px;
                    top: 250px;
                    border: 1px solid $main_color;
                }

                #line {
                    position: absolute;
                    display: block;
                    height: 400px;
                    width: 3px;
                    left: 465px;
                    top: 150px;
                    transform: translate(0%, -5%);
                    background-color: $main_color;
                }

                #text {
                    position: relative;
                    top: 100px;
                    left: 470px;

                    >li {
                        display: flex;
                        margin-bottom: 15px;
                    }

                    #text_h {
                        width: 150px;
                        color: $main_color;
                        font-weight: 700;
                        font-size: 27px;
                    }

                    #text_b {
                        width: 550px;
                        height: auto;
                        color: $font_color;
                        font-weight: 700;
                        font-size: 21px;
                        color: $font_color;
                    }

                    #ul {
                        li {
                            margin-bottom: 5px;
                        }

                        li::before {
                            color: $main_color;
                            content: "\2022"; //원모양 CSS Code/unicode
                            font-weight: bold;
                            display: inline-block;
                            width: 0.8em;
                        }
                    }
                }
            }
        }

        #page6_2 {
            #title {
                position: absolute;
                color: $main_color;
                font-weight: 700;
                font-size: 50px;
                top: 0px;
            }

            #main_view {
                position: relative;
                display: flex;
                justify-content: center;
                top: 90px;

                #left {
                    ul {
                        #text_h {
                            width: 150px;
                            color: $main_color;
                            font-weight: 700;
                            font-size: 27px;
                            margin-bottom: 10px;
                        }

                        #text_b {
                            width: 400px;
                            margin-right: 50px;
                            height: auto;
                            color: $font_color;
                            font-weight: 700;
                            font-size: 21px;
                            color: $font_color;
                            margin-bottom: 20px;
                        }

                        div {
                            display: flex;
                        }

                        div::before {
                            color: $main_color;
                            content: "\2022"; //원모양 CSS Code/unicode
                            font-weight: bold;
                            display: flex;
                            width: 0.8em;
                        }
                    }
                }

                #right {
                    #text_h {
                        width: 150px;
                        color: $main_color;
                        font-weight: 700;
                        font-size: 27px;
                    }

                    #img {
                        width: 500px;
                        height: auto;
                        left: 80px;
                        top: 250px;
                        border: 1px solid $main_color;
                    }
                }
            }
        }

        #page6_3 {
            #title {
                position: absolute;
                color: $main_color;
                font-weight: 700;
                font-size: 50px;
                top: 0px;
            }

            #main_view {
                position: relative;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                

                #left {
                    #img {
                        align-items: center;
                        width: 500px;
                        height: auto;
                        left: 80px;
                        top: 250px;
                        border: 1px solid $main_color;
                    }

                }

                #right {
                    margin-left: 40px;

                    ul {
                        #text_h {
                            width: 150px;
                            color: $main_color;
                            font-weight: 700;
                            font-size: 27px;
                        }

                        #text_b {
                            width: 450px;
                            height: auto;
                            color: $font_color;
                            font-weight: 700;
                            font-size: 21px;
                            color: $font_color;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }

        #page6_4 {
            #title {
                position: absolute;
                color: $main_color;
                font-weight: 700;
                font-size: 50px;
                top: 0px;
            }

            #main_view {
                position: relative;
                display: flex;
                justify-content: center;
                top: 90px;

                #left {
                    #text_h {
                        width: 150px;
                        color: $main_color;
                        font-weight: 700;
                        font-size: 27px;
                    }

                    #img {
                        width: 500px;
                        height: auto;
                        left: 80px;
                        top: 250px;
                        border: 1px solid $main_color;
                    }

                }

                #right {
                    margin-left: 40px;

                    ul {
                        #text_h {
                            width: 150px;
                            color: $main_color;
                            font-weight: 700;
                            font-size: 27px;
                        }

                        #text_b {
                            width: 450px;
                            height: auto;
                            color: $font_color;
                            font-weight: 700;
                            font-size: 21px;
                            color: $font_color;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }

        #page6_5 {
            #title {
                position: absolute;
                color: $main_color;
                font-weight: 700;
                font-size: 50px;
                top: 0px;
            }

            #main_view {
                position: relative;
                top: 90px;

                #top {
                    display: flex;
                    justify-content: center;

                    #img {
                        width: 350px;
                        height: 160px;
                        left: 80px;
                        top: 250px;
                        border: 1px solid $main_color;
                    }

                }

                #bottom {
                    margin-top: 40px;
                    display: flex;
                    justify-content: center;

                    ul {
                        #text_h {
                            width: 150px;
                            color: $main_color;
                            font-weight: 700;
                            font-size: 27px;
                        }

                        #text_b {
                            width: 1100px;
                            height: auto;
                            color: $font_color;
                            font-weight: 700;
                            font-size: 21px;
                            color: $font_color;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}


//풀페이지,오버로드
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: $main_color;
}