@charset "UTF-8";
html {
  font-size: 10px;
}

img {
  width: 100%;
  height: 100%;
}

#menu header {
  background-color: #ffffff;
}

#menu header #gnb_list {
  color: #000000;
  font-family: "고딕";
  font-weight: 600;
}

#menu header::after {
  background-color: #0b5395;
}

#fullpage #page1 #title {
  position: absolute;
  color: #0b5395;
  font-weight: 700;
  font-size: 8vh;
  top: 0px;
}

#fullpage #page1 #main_view #text {
  position: absolute;
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  top: 250px;
}

#fullpage #page1 #main_view #img {
  position: absolute;
  width: 50vh;
  height: 50vh;
  left: 600px;
  bottom: 30px;
  background-image: url(../img/p1/Responsiveweb01.png);
}

#fullpage #page2 #title {
  position: absolute;
  color: #0b5395;
  font-weight: 700;
  font-size: 80px;
  top: 0px;
}

#fullpage #page2 #main_view #text {
  position: absolute;
  position: absolute;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  top: 150px;
  left: 50px;
}

#fullpage #page2 #main_view #text li {
  margin-top: 15px;
}

#fullpage #page2 #main_view #img {
  position: absolute;
  width: 503px;
  height: 350px;
  left: 600px;
  bottom: 100px;
}

#fullpage #page2 #main_view #img div {
  position: absolute;
  top: 25%;
  left: 15%;
  transform: rotate(-5deg);
  width: 365px;
  font-size: 60px;
  font-family: 'Nanum Pen Script', cursive;
}

#fullpage #page3 #title {
  position: absolute;
  color: #0b5395;
  font-weight: 700;
  font-size: 50px;
  top: 0px;
}

#fullpage #page3 #main_view #text1 #text_h {
  position: absolute;
  color: #0b5395;
  font-weight: 700;
  font-size: 30px;
  top: 100px;
  left: 550px;
}

#fullpage #page3 #main_view #text1 #line {
  position: absolute;
  display: block;
  height: 2px;
  width: 60vw;
  left: 50%;
  top: 150px;
  transform: translate(-55%, 0%);
  background-color: #0b5395;
}

#fullpage #page3 #main_view #img {
  position: absolute;
  width: 225px;
  height: 300px;
  left: 250px;
  bottom: 100px;
  border: 1px solid black;
}

#fullpage #page3 #main_view #text2 {
  position: absolute;
  color: #000000;
  font-weight: 700;
  font-size: 25px;
  top: 170px;
  left: 550px;
}

#fullpage #page3 #main_view #text2 li {
  margin-top: 10px;
}

#fullpage #page3 #main_view #text2 #text_h {
  margin-right: 10px;
  color: #0b5395;
}

#fullpage #page4 #title {
  position: absolute;
  color: #0b5395;
  font-weight: 700;
  font-size: 50px;
  top: 0px;
}

#fullpage #page4 #main_view #text_ul01 {
  position: absolute;
  right: 60%;
  top: 140px;
}

#fullpage #page4 #main_view #line {
  position: absolute;
  display: block;
  height: 400px;
  width: 3px;
  left: 49%;
  top: 150px;
  transform: translate(0%, -5%);
  background-color: #0b5395;
}

#fullpage #page4 #main_view #text_ul02 {
  position: absolute;
  left: 60%;
  top: 55%;
  transform: translate(0%, -50%);
}

#fullpage #page4 #main_view #text_h {
  color: #0b5395;
  font-weight: 700;
  font-size: 27px;
}

#fullpage #page4 #main_view #text_b {
  color: #000000;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 20px;
  color: #000000;
}

#fullpage #page5 #title {
  position: absolute;
  color: #0b5395;
  font-weight: 700;
  font-size: 50px;
  top: 0px;
}

#fullpage #page5 #main_view #line01 {
  position: relative;
  left: 100px;
  padding-top: 60px;
}

#fullpage #page5 #main_view #line01 #circle {
  display: inline-block;
  background-color: #ffffff;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  line-height: 150px;
  text-align: center;
  margin-right: 40px;
  box-shadow: 2px 2px 2px 2px gray;
  overflow: hidden;
}

#fullpage #page5 #main_view #line01 #circle #html_css {
  position: relative;
  top: 25%;
  width: 100%;
  height: 50%;
}

#fullpage #page5 #main_view #line02 {
  position: relative;
  left: 100px;
  margin-top: 30px;
}

#fullpage #page5 #main_view #line02 #circle {
  display: inline-block;
  background-color: #ffffff;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  line-height: 150px;
  text-align: center;
  margin-right: 40px;
  box-shadow: 2px 2px 2px 2px gray;
  overflow: hidden;
}

#fullpage #page5 #main_view #line {
  position: absolute;
  display: block;
  height: 3px;
  width: 90vw;
  left: 50%;
  bottom: 80px;
  transform: translate(-50%, 0%);
  background-color: #0b5395;
}

#fullpage #page5 #main_view #sub_info {
  position: absolute;
  color: #0b5395;
  width: 700px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
}

#fullpage #page6 #page6_1 #title {
  position: absolute;
  color: #0b5395;
  font-weight: 700;
  font-size: 50px;
  top: 0px;
}

#fullpage #page6 #page6_1 .slide_sign {
  position: absolute;
  color: #ff3939;
  font-weight: 700;
  font-size: 35px;
  right: 120px;
}

#fullpage #page6 #page6_1 #main_view #img {
  position: absolute;
  width: 350px;
  height: auto;
  left: 80px;
  top: 250px;
  border: 1px solid #0b5395;
}

#fullpage #page6 #page6_1 #main_view #line {
  position: absolute;
  display: block;
  height: 400px;
  width: 3px;
  left: 465px;
  top: 150px;
  transform: translate(0%, -5%);
  background-color: #0b5395;
}

#fullpage #page6 #page6_1 #main_view #text {
  position: relative;
  top: 100px;
  left: 470px;
}

#fullpage #page6 #page6_1 #main_view #text > li {
  display: flex;
  margin-bottom: 15px;
}

#fullpage #page6 #page6_1 #main_view #text #text_h {
  width: 150px;
  color: #0b5395;
  font-weight: 700;
  font-size: 27px;
}

#fullpage #page6 #page6_1 #main_view #text #text_b {
  width: 550px;
  height: auto;
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

#fullpage #page6 #page6_1 #main_view #text #ul li {
  margin-bottom: 5px;
}

#fullpage #page6 #page6_1 #main_view #text #ul li::before {
  color: #0b5395;
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 0.8em;
}

#fullpage #page6 #page6_2 #title {
  position: absolute;
  color: #0b5395;
  font-weight: 700;
  font-size: 50px;
  top: 0px;
}

#fullpage #page6 #page6_2 #main_view {
  position: relative;
  display: flex;
  justify-content: center;
  top: 90px;
}

#fullpage #page6 #page6_2 #main_view #left ul #text_h {
  width: 150px;
  color: #0b5395;
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 10px;
}

#fullpage #page6 #page6_2 #main_view #left ul #text_b {
  width: 400px;
  margin-right: 50px;
  height: auto;
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  color: #000000;
  margin-bottom: 20px;
}

#fullpage #page6 #page6_2 #main_view #left ul div {
  display: flex;
}

#fullpage #page6 #page6_2 #main_view #left ul div::before {
  color: #0b5395;
  content: "\2022";
  font-weight: bold;
  display: flex;
  width: 0.8em;
}

#fullpage #page6 #page6_2 #main_view #right #text_h {
  width: 150px;
  color: #0b5395;
  font-weight: 700;
  font-size: 27px;
}

#fullpage #page6 #page6_2 #main_view #right #img {
  width: 500px;
  height: auto;
  left: 80px;
  top: 250px;
  border: 1px solid #0b5395;
}

#fullpage #page6 #page6_3 #title {
  position: absolute;
  color: #0b5395;
  font-weight: 700;
  font-size: 50px;
  top: 0px;
}

#fullpage #page6 #page6_3 #main_view {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fullpage #page6 #page6_3 #main_view #left #img {
  align-items: center;
  width: 500px;
  height: auto;
  left: 80px;
  top: 250px;
  border: 1px solid #0b5395;
}

#fullpage #page6 #page6_3 #main_view #right {
  margin-left: 40px;
}

#fullpage #page6 #page6_3 #main_view #right ul #text_h {
  width: 150px;
  color: #0b5395;
  font-weight: 700;
  font-size: 27px;
}

#fullpage #page6 #page6_3 #main_view #right ul #text_b {
  width: 450px;
  height: auto;
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  color: #000000;
  margin-bottom: 30px;
}

#fullpage #page6 #page6_4 #title {
  position: absolute;
  color: #0b5395;
  font-weight: 700;
  font-size: 50px;
  top: 0px;
}

#fullpage #page6 #page6_4 #main_view {
  position: relative;
  display: flex;
  justify-content: center;
  top: 90px;
}

#fullpage #page6 #page6_4 #main_view #left #text_h {
  width: 150px;
  color: #0b5395;
  font-weight: 700;
  font-size: 27px;
}

#fullpage #page6 #page6_4 #main_view #left #img {
  width: 500px;
  height: auto;
  left: 80px;
  top: 250px;
  border: 1px solid #0b5395;
}

#fullpage #page6 #page6_4 #main_view #right {
  margin-left: 40px;
}

#fullpage #page6 #page6_4 #main_view #right ul #text_h {
  width: 150px;
  color: #0b5395;
  font-weight: 700;
  font-size: 27px;
}

#fullpage #page6 #page6_4 #main_view #right ul #text_b {
  width: 450px;
  height: auto;
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  color: #000000;
  margin-bottom: 30px;
}

#fullpage #page6 #page6_5 #title {
  position: absolute;
  color: #0b5395;
  font-weight: 700;
  font-size: 50px;
  top: 0px;
}

#fullpage #page6 #page6_5 #main_view {
  position: relative;
  top: 90px;
}

#fullpage #page6 #page6_5 #main_view #top {
  display: flex;
  justify-content: center;
}

#fullpage #page6 #page6_5 #main_view #top #img {
  width: 350px;
  height: 160px;
  left: 80px;
  top: 250px;
  border: 1px solid #0b5395;
}

#fullpage #page6 #page6_5 #main_view #bottom {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#fullpage #page6 #page6_5 #main_view #bottom ul #text_h {
  width: 150px;
  color: #0b5395;
  font-weight: 700;
  font-size: 27px;
}

#fullpage #page6 #page6_5 #main_view #bottom ul #text_b {
  width: 1100px;
  height: auto;
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  color: #000000;
  margin-bottom: 30px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #0b5395;
}
/*# sourceMappingURL=main copy.css.map */