* {
    margin: 0;
    padding: 0;
    list-style: none; //리스트 테이블마냥 만들어줌
}
a {
    text-decoration: none;
    color: inherit;
}

header {
    height: 60px;
    width: 100vw;
    background-color: rgb(34, 81, 156);
    position: fixed;
    text-align: center;
    z-index: 95;
    overflow: hidden;
    transition: 0.25s ease;

    #gnb {
        position: absolute;
        left: 110px;
        top: -10px;
        z-index: 99;//after에 닿아도 on되도록 해줌

        #gnb_list {
            float: left;
            display: inline-block;
            margin-left: 80px;
            font-size: 60px;

            #gnb_content {

                li {}
            }
        }
    }
}
header::after{
    display: block;
    position: absolute;
    width: 100%;
    top: 58px;
    content: '';
    height: 1px;
    background-color: chocolate;
}
header.on{
    height: 420px;
}

img {
    width: 1260px;
    height: 500px;
}

#page1 {
    width: 100%;
    height: 100%;
    //background-color: cadetblue;
}

#page2 {
    width: 100%;
    height: 100%;
    //background-color: chocolate;
}

#page3 {
    #swiper_option {
        position: relative;
        width: 500px;
        left: 560px;

        .swiper-pagination {
            bottom: 20px;
            left: 43px;
        }

        .swiper-button-prev {
            bottom: 20px;
            left: 0px;
        }

        .swiper-button-next {
            bottom: 20px;
            left: 165px;
        }
    }

    #page3_1 {
        //background-color: lightgreen;
    }

    #page3_2 {
        //background-color: lightskyblue;
    }

    #page3_3 {
        //background-color: magenta;
    }
}

#page4 {
    //background-color: darkkhaki;
}

footer {
    height: 150px;
    img {
        height: 100px;
        width: 100px;
    }

    //background-color: gray;
}

footer::before {
    display: block;
    content: "";
    height: 2px;
    background-color: rgb(70, 70, 70);
}