@charset "UTF-8";
html {
  font-size: 1vmin;
}

img {
  width: 100%;
  height: 100%;
}

#menu header {
  background-color: #ffffff;
}

#menu header #gnb_list {
  color: #000000;
  font-family: "고딕";
  font-weight: 600;
}

#menu header::after {
  background-color: #0b5395;
}

body {
  font-size: 0px;
}

@media (max-width: 420px) {
  #fullpage #page1 .main_left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

#fullpage #page1 .main_left #text {
  color: #000000;
  font-weight: 700;
  font-size: 5rem;
}

@media (max-width: 420px) {
  #fullpage #page1 .main_left #text {
    font-size: 10rem;
  }
}

#fullpage #page1 .main_right .img {
  width: 58rem;
  height: auto;
}

#fullpage #page2 .main_left #text {
  width: 100%;
  color: #000000;
  font-weight: 700;
  font-size: 4.5rem;
}

@media (max-width: 420px) {
  #fullpage #page2 .main_left #text {
    font-size: 5rem;
  }
}

#fullpage #page2 .main_left #text li {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

#fullpage #page2 .main_left #text li #content {
  width: 100%;
}

#fullpage #page2 .main_right .img {
  width: 80rem;
  height: auto;
  position: relative;
}

#fullpage #page2 .main_right .img div {
  position: absolute;
  width: 43rem;
  top: 50%;
  left: 50%;
  transform: rotate(-5deg);
  transform: translate(-50%, -50%);
  font-size: 7rem;
  font-family: "Nanum Pen Script", cursive;
}

@media (max-width: 420px) {
  #fullpage #page2 .main_right .img div {
    width: 56rem;
    font-size: 9rem;
  }
}

#fullpage #page3 .main_type_B #text #text_h {
  color: #0b5395;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
}

@media (max-width: 420px) {
  #fullpage #page3 .main_type_B #text #text_h {
    font-size: 5rem;
  }
}

#fullpage #page3 .main_type_B #text #line {
  position: relative;
  display: block;
  height: 2px;
  width: 85rem;
  background-color: #0b5395;
}

@media (max-width: 420px) {
  #fullpage #page3 .main_left_B {
    align-items: center;
    justify-content: center;
  }
}

#fullpage #page3 .main_left_B #img {
  position: relative;
  top: 4rem;
  right: 6rem;
  width: 30rem;
  height: auto;
  border: 1px solid black;
}

@media (max-width: 420px) {
  #fullpage #page3 .main_left_B #img {
    right: 0rem;
    top: 0rem;
    width: 40rem;
  }
}

#fullpage #page3 .main_right_B #text {
  position: relative;
  color: #000000;
  font-weight: 700;
  font-size: 3rem;
  top: 3rem;
  margin: 3rem;
}

@media (max-width: 420px) {
  #fullpage #page3 .main_right_B #text {
    font-size: 5rem;
  }
}

#fullpage #page3 .main_right_B #text li {
  margin-top: 2rem;
}

#fullpage #page3 .main_right_B #text #text_h {
  margin-right: 1rem;
  color: #0b5395;
}

#fullpage #page4 .main_left {
  justify-content: center;
}

@media (max-width: 420px) {
  #fullpage #page4 .main_left {
    height: 55%;
  }
}

#fullpage #page4 .main_left #text {
  margin: 2rem;
}

#fullpage #page4 .main_left #text #text_h {
  color: #0b5395;
  font-weight: 700;
  font-size: 4rem;
}

@media (max-width: 420px) {
  #fullpage #page4 .main_left #text #text_h {
    font-size: 6rem;
  }
}

#fullpage #page4 .main_left #text #text_b {
  color: #000000;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #000000;
}

@media (max-width: 420px) {
  #fullpage #page4 .main_left #text #text_b {
    font-size: 5rem;
  }
}

#fullpage #page4 .main_left #line {
  position: absolute;
  display: block;
  left: 50%;
  transform: translate(-50%, 0);
  height: 60rem;
  width: 3px;
  background-color: #0b5395;
}

@media (max-width: 420px) {
  #fullpage #page4 .main_left #line {
    display: none;
  }
}

#fullpage #page4 .main_right {
  justify-content: center;
}

@media (max-width: 420px) {
  #fullpage #page4 .main_right {
    height: 30%;
  }
}

#fullpage #page4 .main_right #text {
  margin: 2rem;
}

#fullpage #page4 .main_right #text #text_h {
  color: #0b5395;
  font-weight: 700;
  font-size: 4rem;
}

@media (max-width: 420px) {
  #fullpage #page4 .main_right #text #text_h {
    font-size: 6rem;
  }
}

#fullpage #page4 .main_right #text #text_b {
  color: #000000;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #000000;
}

@media (max-width: 420px) {
  #fullpage #page4 .main_right #text #text_b {
    font-size: 5rem;
  }
}

@media (max-width: 420px) {
  #fullpage #page4 .main_bottom {
    height: 5%;
  }
}

#fullpage #page5 .main_middle_C #line {
  width: 130rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#fullpage #page5 .main_middle_C #line #circle {
  background-color: #ffffff;
  width: 23rem;
  height: 23rem;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #585858;
  overflow: hidden;
}

#fullpage #page5 .main_middle_C #line #circle #html_css {
  position: relative;
  top: 25%;
  width: 100%;
  height: 50%;
}

@media (max-width: 420px) {
  #fullpage #page5 .main_middle_C #line #circle {
    width: 24rem;
    height: 24rem;
  }
  #fullpage #page5 .main_middle_C #line #circle:nth-last-child(1) {
    display: none;
  }
}

#fullpage #page5 .main_bottom_C #line {
  display: block;
  height: 3px;
  width: 140rem;
  background-color: #0b5395;
}

@media (max-width: 420px) {
  #fullpage #page5 .main_bottom_C #line {
    width: 85rem;
  }
}

#fullpage #page5 .main_bottom_C #sub_info {
  color: #0b5395;
  width: 110rem;
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}

@media (max-width: 420px) {
  #fullpage #page5 .main_bottom_C #sub_info {
    width: 85rem;
    font-size: 4rem;
  }
}

#fullpage #page6 #page6_1 .slide_sign {
  position: absolute;
  color: #ff3939;
  font-weight: 700;
  font-size: 10rem;
  right: 0rem;
}

@media (max-width: 420px) {
  #fullpage #page6 #page6_1 .slide_sign {
    top: 20rem;
  }
}

#fullpage #page6 #page6_1 .main_left {
  justify-content: center;
}

#fullpage #page6 #page6_1 .main_left #img {
  width: 90%;
  height: auto;
  border: 1px solid #0b5395;
}

#fullpage #page6 #page6_1 .main_left #line {
  position: absolute;
  display: block;
  height: 60rem;
  width: 3px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #0b5395;
}

@media (max-width: 420px) {
  #fullpage #page6 #page6_1 .main_left #line {
    display: none;
  }
}

#fullpage #page6 #page6_1 .main_right #text {
  position: relative;
  margin: 0rem 2rem;
  width: 95%;
}

#fullpage #page6 #page6_1 .main_right #text > li {
  display: flex;
  margin-bottom: 2rem;
}

#fullpage #page6 #page6_1 .main_right #text ul {
  width: 100%;
}

#fullpage #page6 #page6_1 .main_right #text #text_h {
  width: 21rem;
  color: #0b5395;
  font-weight: 700;
  font-size: 3rem;
}

@media (max-width: 420px) {
  #fullpage #page6 #page6_1 .main_right #text #text_h {
    width: 27rem;
    font-size: 4rem;
  }
}

#fullpage #page6 #page6_1 .main_right #text #text_b {
  width: 100%;
  color: #000000;
  font-weight: 700;
  font-size: 2.5rem;
}

@media (max-width: 420px) {
  #fullpage #page6 #page6_1 .main_right #text #text_b {
    font-size: 3.2rem;
  }
}

#fullpage #page6 #page6_1 .main_right #text #ul li::before {
  color: #0b5395;
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 0.8em;
}

#fullpage #page6 #page6_1 .main_bottom #text_h {
  width: 20rem;
  color: #0b5395;
  font-weight: 700;
  font-size: 3rem;
}

#fullpage #page6 #page6_1 .main_bottom #text_b {
  width: 90%;
  color: #000000;
  font-weight: 700;
  font-size: 2.5rem;
}

#fullpage #page6 #page6_2 .main_left ul {
  position: relative;
  left: 2rem;
}

#fullpage #page6 #page6_2 .main_left ul #text_h {
  width: 20rem;
  color: #0b5395;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 420px) {
  #fullpage #page6 #page6_2 .main_left ul #text_h {
    font-size: 5rem;
  }
}

#fullpage #page6 #page6_2 .main_left ul #text_b {
  width: 90%;
  color: #000000;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 420px) {
  #fullpage #page6 #page6_2 .main_left ul #text_b {
    font-size: 4rem;
  }
}

#fullpage #page6 #page6_2 .main_left ul div {
  display: flex;
}

#fullpage #page6 #page6_2 .main_left ul div::before {
  color: #0b5395;
  content: "\2022";
  font-weight: bold;
  display: flex;
  width: 0.8em;
}

#fullpage #page6 #page6_2 .main_right {
  justify-content: center;
}

#fullpage #page6 #page6_2 .main_right #text_h {
  width: 80%;
  color: #0b5395;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 420px) {
  #fullpage #page6 #page6_2 .main_right #text_h {
    font-size: 5rem;
  }
}

#fullpage #page6 #page6_2 .main_right #img {
  width: 80%;
  height: auto;
}

#fullpage #page6 #page6_2 .main_right #img img {
  border: 1px solid #0b5395;
}

#fullpage #page6 #page6_3 .main_left {
  justify-content: center;
}

#fullpage #page6 #page6_3 .main_left #img {
  width: 90%;
  height: auto;
  border: 1px solid #0b5395;
}

#fullpage #page6 #page6_3 .main_right ul #text_h {
  width: 30rem;
  color: #0b5395;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 420px) {
  #fullpage #page6 #page6_3 .main_right ul #text_h {
    font-size: 5rem;
  }
}

#fullpage #page6 #page6_3 .main_right ul #text_b {
  width: 95%;
  color: #000000;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 420px) {
  #fullpage #page6 #page6_3 .main_right ul #text_b {
    font-size: 4rem;
  }
}

#fullpage #page6 #page6_4 .main_left {
  justify-content: center;
}

#fullpage #page6 #page6_4 .main_left #img {
  width: 90%;
  height: auto;
  border: 1px solid #0b5395;
}

#fullpage #page6 #page6_4 .main_right ul #text_h {
  width: 30rem;
  color: #0b5395;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 420px) {
  #fullpage #page6 #page6_4 .main_right ul #text_h {
    font-size: 5rem;
  }
}

#fullpage #page6 #page6_4 .main_right ul #text_b {
  width: 95%;
  color: #000000;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 420px) {
  #fullpage #page6 #page6_4 .main_right ul #text_b {
    font-size: 4rem;
  }
}

#fullpage #page6 #page6_5 .main_up_D #img {
  width: 35%;
  height: auto;
  border: 1px solid #0b5395;
}

@media (max-width: 420px) {
  #fullpage #page6 #page6_5 .main_up_D #img {
    width: 90%;
  }
}

#fullpage #page6 #page6_5 .main_down_D {
  justify-content: left;
}

#fullpage #page6 #page6_5 .main_down_D ul {
  position: relative;
  margin: 2rem;
  width: 100%;
}

#fullpage #page6 #page6_5 .main_down_D ul #text_h {
  width: 30rem;
  color: #0b5395;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 420px) {
  #fullpage #page6 #page6_5 .main_down_D ul #text_h {
    font-size: 5rem;
  }
}

#fullpage #page6 #page6_5 .main_down_D ul #text_b {
  width: 95%;
  color: #000000;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 420px) {
  #fullpage #page6 #page6_5 .main_down_D ul #text_b {
    font-size: 4rem;
  }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #0b5395;
}
/*# sourceMappingURL=main.css.map */