.header{
  border : 3px solid #aa1111;
  height: 150px;
  text-align: center;
  font-size: 2rem;
}
.header_title{
  font-size: 100%;
}
.td_nav{
  border : 3px solid #00ffff;
}
.nav{
  border : 3px solid #1188ff;
  height: 40px;
}
table{
  table-layout: fixed; /*테이블 길이고정*/
  word-break: break-all;/*자동줄바꿈*/
  height: 300px;
  width: 100%;
  height: 100%;
}
.td_aside{
  height: 100%;
  width: 250px;
}
.aside{
  border : 3px solid #881188;
  height: 100%;
}
.td_section{
  height: 100%;
}
.section_table{
  height: auto;
  width: auto;
}
.section{
  border : 3px solid #ffff00;
}
.section_header{
  border : 3px solid #115511;
}
.section_article{
  border : 3px solid #118811;
  padding: 10%;
}
.section_footer{
  border : 3px solid #11dd11;
}
.footer{
  border : 3px solid #1111dd;
  height: 50px;
}
/**************************************************/
img{width: 100%; height: 100%;}
