* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#body {
    width: 100vw;

    #header {
        width: 100vw;
        height: 60px;

        #go_home {
            position: absolute;
            left: 20px;
            top: 10px;
        }

        #header_text {
            text-align: center;
            padding: 4px;
        }
    }

    #main {
        float: left;
        width: 73vw;


        #left_section {
            float: left;
            width: 20vw;
            margin-left: 5vw;
            text-align: center;

            #today {
                position: relative;
                top: 20px;

                #left_day {
                    position: relative;
                    top: 50px;
                }

                #left_date {
                    position: relative;
                    top: 100px;
                }
            }
        }

        #right_section {
            float: left;
            width: 48vw;
            text-align: center;

            table {
                padding: 1px;
                margin: 19px;
                width: 575px;

                td {
                    height: 49px;
                    width: 74px;
                }

                #top {
                    div {
                        display: inline;
                    }
                }

                #millde {}

                #created_row {
                    td {
                        position: relative;
                        #cal_text {
                            position: absolute;
                            width: 0px;
                            height: 0px;
                            top: -0px;
                            left: 5px;
                        }

                        #holiday_name {
                            position: absolute;
                            height: 0px;
                            font-size: 12px;
                            text-align: right;
                            bottom: 17px;
                            right: 2px;
                        }
                    }
                }
            }
        }
    }

    #Calculator_section {
        float: left;
        width: 22vw;
        margin-right: 5vw;

        #cal_sec_text {
            padding: 20px;

            #cal_sec_header {
                position: relative;
                top: 20px;
                text-align: center;
            }

            #cal_sec_select {
                position: relative;
                top: 90px;

                #now_year {
                    margin-bottom: 10px;

                    div {
                        display: inline;
                    }
                }

                p {
                    text-align: left;
                }

                /*
                //라디오버튼 숨기기(미정)
                input {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    padding: 0;
                    margin: -1px;
                    overflow: hidden;
                    clip: rect(0, 0, 0, 0);
                    border: 0
                }
                */
            }

            #cal_sec_result {
                position: relative;
                top: 150px;
                text-align: center;

                div {
                    display: inline;
                }
            }
        }
    }


    footer::before {
        display: block;
        content: "";
        height: 1px;
        background-color: black;
        margin-bottom: 6px;
    }

    #footer {
        position: absolute;
        width: 100vw;
        height: 50px;
        top: 88vh;
        font-size: 14px;
        padding-top: 1vh;

        #footer_content {
            position: absolute;
            left: 10px;

            #section01 {}

            #section02 {}

            #section03 {}
        }
    }
}