* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#body {
    width: 100vw;
    height: 100vh;
    background-color: black;

    #header {
        width: 100vw;
        height: 10vh;
        background-color: chocolate;

        #go_home {
            position: absolute;
            color: #ffffff;
            font-size: 30px;
            left: 20px;
            top: 10px;
        }

        #header_text {
            text-align: center;
            padding: 2px;
            font-size: 45px;
            //font-weight: 600;
        }
    }

    #main {
        float: left;
        width: 70vw;
        height: 80vh;
        background-color: rgb(116, 36, 36);


        #left_section {
            float: left;
            width: 20vw;
            height: 80vh;
            background-color: rgb(129, 143, 4);
            margin-left: 5vw;
            text-align: center;

            #today {
                position: sticky;
                top: 100px;

                #left_day {}

                #left_date {
                    position: relative;
                    top: 100px;
                }
            }
        }

        #right_section {
            float: left;
            width: 45vw;
            height: 80vh;
            background-color: rgb(4, 131, 46);
            text-align: center;

            table {
                width: 45vw;
                height: 20vh;
                padding: 20px;

                #top {}

                #middle {}

                td {
                    background-color: lavenderblush;
                    height: 53px;
                }

                #holiday {
                    background-color: brown;
                }
            }
        }
    }

    #Calculator_section {
        float: left;
        width: 25vw;
        height: 80vh;
        margin-right: 5vw;
        background-color: rgb(8, 103, 110);
        text-align: center;

        #cal_sec_text {
            padding: 20px;

            #cal_sec_header {
                position: relative;
                top: 20px;
            }

            #cal_sec_select {
                position: relative;
                top: 70px;
            }

            #cal_sec_result {
                position: relative;
                top: 250px;
            }
        }
    }

    #footer {
        position: absolute;
        width: 95vw;
        height: 10vh;
        top: 90vh;
        background-color: rgb(47, 25, 143);
        padding-left: 5vw;
    }
}