#main_visual {
    #slogan {
        color: #fff;
        text-align: center;

        #slogan_main {
            font-size: 60px;
            font-weight: 700;
        }

        #slogan_sub {
            font-size: 30px;
        }
    }
}

#slogan{
    color: #fff;
}