/*
body {
    min-width: 1920px;
    min-height: 1080px;
}
*/
body {
  background-color: black;
}

#header {
  width: 100%;
  height: 77px;
  position: fixed;
  text-align: center;
  z-index: 10000;
  color: #fff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-weight: 500;
  transition: 0.25s ease;
  background-color: black;
}

#header #gnb {
  position: relative;
  height: 75px;
  text-align: center;
  overflow: hidden;
  transition: 0.25s ease;
}

#header #gnb #gnb_line {
  position: absolute;
  display: block;
  top: 75px;
  width: 100%;
  height: 3px;
  background-color: white;
}

#header #gnb .gnb_list {
  display: inline-block;
}

#header #gnb .gnb_list #go_main {
  position: fixed;
  font-size: 30px;
  margin: 15px;
  left: 70px;
}

#header #gnb .gnb_list > li {
  float: left;
}

#header #gnb .gnb_list > li .gnb_depth_01 {
  height: 75px;
  line-height: 50px;
  font-size: 30px;
  display: block;
  padding: 12px 70px;
}

#header #gnb .gnb_list > li .gnb_depth_02 li a {
  display: block;
  padding: 10px 0;
}

#header #gnb_menu {
  top: 30px;
  right: 60px;
  position: absolute;
  z-index: 3;
}

#header #gnb_menu #gnb_menu_btn {
  padding: 10px;
}

#header #gnb_menu #gnb_menu_btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  display: block;
  background-color: white;
}

#header #gnb_menu span:nth-child(1) {
  top: 0px;
}

#header #gnb_menu span:nth-child(2) {
  top: 10px;
}

#header #gnb_menu span:nth-child(3) {
  top: 20px;
}

#header::after {
  display: block;
  top: 80px;
  width: 100%;
  content: "";
  height: 2px;
  background-color: white;
}

#header.on {
  background-color: #333333;
  color: white;
}

#header.on #gnb {
  height: 320px;
  background-color: #333333;
}

#main_visual {
  position: relative;
  height: 100%;
  width: 100vw;
}

#main_visual #main_visual_img {
  overflow: hidden;
  height: 100%;
  width: 100vw;
}

#main_visual #main_visual_img #main_visual_ul,
#main_visual #main_visual_img .swiper-slide {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

#main_visual #main_visual_img #main_img_1 {
  background-image: url("../img/spiderman/newyork_spiderman2.jpg");
}

#main_visual #main_visual_img #main_img_2 {
  background-image: url("../img/yakuza/Kiwami_2_kamurocho.jpg");
}

#main_visual #main_visual_img #main_img_3 {
  background-image: url("../img/assassin_origin/assassin_origin4.jpg");
}

#main_visual #slogan {
  position: absolute;
  width: 100%;
  top: 40%;
  z-index: 100;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*.swiper-container {
    width: 600px;
    height: 300px;
}*/
#main_info {
  width: 100%;
  height: 100%;
}

#main_info .card_img {
  width: 100%;
  height: 100%;
}

#main_info .card_img img:hover {
  transform: scale(1.1);
  transition: 0.25s all ease;
}

#main_info .card_img #card01 {
  width: 50vh;
  height: 70vh;
  position: absolute;
  left: 160px;
  top: 65px;
}

#main_info .card_img #card02 {
  width: 50vh;
  height: 70vh;
  position: absolute;
  left: 510px;
  top: 30px;
}

#main_info .card_img #card03 {
  width: 50vh;
  height: 70vh;
  position: absolute;
  left: 860px;
  top: 65px;
}

#main_info #slogan {
  height: 200px;
  width: 900px;
  position: absolute;
  left: 210px;
  top: 480px;
  z-index: 100;
  text-align: center;
  font-size: 30px;
  font-weight: 550;
}

#main_info2 {
  width: 100%;
  height: 100%;
}

#main_info2 #slogan {
  position: absolute;
  left: 380px;
  bottom: 20px;
  z-index: 100;
  text-align: center;
  font-size: 30px;
  font-weight: 550;
}

#main_info2 #ex_img {
  width: 80vw;
  height: 80vh;
  position: absolute;
}

#main_info2 #ex_img #img1 {
  position: absolute;
  width: 400px;
  height: 400px;
  margin: 10px;
  top: 50px;
  left: 160px;
}

#main_info2 #ex_img #equal {
  position: absolute;
  left: 578px;
  top: 230px;
}

#main_info2 #ex_img #equal span {
  width: 70px;
  height: 20px;
  display: block;
  background-color: white;
  margin: 20px;
}

#main_info2 #ex_img #google_map {
  position: absolute;
  width: 400px;
  height: 400px;
  margin: 10px;
  top: 50px;
  left: 690px;
}

#main_info3 #slogan {
  position: absolute;
  left: 100px;
  top: 100px;
  font-size: 60px;
}

#main_info3 #slogan_sub {
  width: 215px;
  margin-top: 50px;
  font-size: 100px;
  padding: 17px;
  border-radius: 0.8em;
  border: 7px solid white;
  background-color: #4da5f7;
}

#main_info3 #pin_img {
  position: relative;
  left: 700px;
  width: 500px;
  height: 300px;
}

footer {
  height: 150px;
  background-color: white;
}

footer::before {
  content: "";
  display: block;
  bottom: 150px;
  width: 100%;
  height: 4px;
  background-color: white;
}

#sub_info {
  background-color: #ffaa22;
  width: 100%;
  height: 100%;
}

#sub_info #slogan {
  position: absolute;
  left: 40%;
  top: 90px;
  z-index: 100;
  text-align: center;
}

#sub_info #ex_img {
  width: 80vw;
  height: 80vh;
  position: absolute;
  left: 13%;
  top: 6%;
}

#sub_info #ex_img #img1 {
  position: relative;
  width: 400px;
  height: 400px;
  float: left;
  margin: 10px;
  top: 110px;
}

#sub_info #ex_img #equal {
  position: absolute;
  left: 410px;
  top: 270px;
}

#sub_info #ex_img #equal span {
  width: 70px;
  height: 20px;
  display: block;
  background-color: white;
  margin: 20px;
}

#sub_info #ex_img #google_map {
  position: relative;
  width: 400px;
  height: 400px;
  float: left;
  margin: 10px;
  top: 110px;
  margin-left: 100px;
}
/*# sourceMappingURL=layout.css.map */